<link href="css/introduction.css" rel="stylesheet" />
<body id="framecontent">
    <p>
        <img src="images/logo.png" alt="MongoStudio">
    </p>
    <h2>MongoStudio是什么?</h2>
    <p>
        一个在线的<a href="https://docs.mongodb.org/manual/" target="_blank">MongoDB</a> 查询器

    </p>
    <p>
        向Windows下优秀的MongoDB IDE RoboMongo 致敬

    </p>
    <h2>MongoStudio有哪些功能？</h2>
    <ul>
        <li>
            方便的<code>查询</code>功能<ul>
                <li>页面左侧是数据库的结构</li>
                <li>点击collection,就可以打开查询页面，输入查询条件即可查询</li>
            </ul>
        </li>
        <li>
            方便的<code>查看</code>功能<ul>
                <li>表格查看</li>
                <li>详细json数据查看</li>
            </ul>
        </li>
    </ul>
    <h2>有问题反馈</h2>
    <p>
        在使用中有任何问题，欢迎反馈给我，可以用以下联系方式跟我交流

    </p>
    <ul>
        <li>邮件: snaildev@outlook.com</li>
        <li>QQ: 1397407698</li>
    </ul>
    <h2>感激</h2>
    <p>
        感谢以下的项目,排名不分先后

    </p>
    <ul>
        <li><a href="http://www.ligerui.com/" target="_blank">ligerui</a> </li>
        <li><a href="http://tool.oschina.net/codeformat/json" target="_blank">jsonformat</a></li>
        <li><a href="http://jquery.com" target="_blank">jquery</a></li>
    </ul>
    <h2>关于作者</h2>
<pre>
    <ol class="hibot"><li rel="0">&nbsp;&nbsp;<span class="keyword">var</span>&nbsp;imongo&nbsp;=&nbsp;{&nbsp;</li><li rel="1">&nbsp;&nbsp;&nbsp;&nbsp;nickName&nbsp;&nbsp;:&nbsp;<span class="string">"SnailDev"</span>,&nbsp;</li><li rel="1">&nbsp;&nbsp;&nbsp;&nbsp;site&nbsp;:&nbsp;<span class="string">"http://github.com/snaildev"</span>&nbsp;</li><li rel="1">&nbsp;&nbsp;}</li></ol>
</pre>
</body>