<%- include("./_layout/header.ejs") %>
<link href="lib/json/s.css" rel="stylesheet" />

<div id="Canvas" class="Canvas"></div>

<script src="lib/json/c.js"></script>
<script src="js/showdatadetail.js"></script>

<%- include("./_layout/footer.ejs") %>