<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="mongo studio">
    <meta name="keywords" content="mongo studio">
    <meta name="author" content="snaildev">

    <title>MongoStudio</title>
    
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="lib/ligerui/skins/aqua/css/ligerui-all.css" rel="stylesheet">
    
    <script src="lib/jquery/jquery-1.8.2.js"></script>
    <script src="lib/ligerui/js/ligerui.all.js"></script>

  </head>

  <body>